---
import { getCollection } from "astro:content";

import BaseLayout from "@layouts/BaseLayout.astro";

import ContactCTA from "@components/Common/ContactCTA.astro";
import Hero from "@components/Common/Hero.astro";
import Grid from "@components/Common/Grid.astro";
import BlogPostPreview from "@components/Blog/BlogPostPreview.astro";

const posts = (await getCollection("blog")).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<BaseLayout
	title="Antonio Bermúdez - Blog"
	description="Here you will find information about systems design and my most recent projects.">
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="My Blog"
				tagline="Here you will find information about systems design and my most recent projects."
				align="start"
			/>
			<Grid variant="offset">
				{
					posts.map((post) => (
						<li>
							<BlogPostPreview post={post} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
